* {
  font-family: 'Raleway', sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

header{
  position: fixed;
  z-index: 1;

  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;

  font-size:1.5rem;
  font-weight: 400;
  color: #f2f2f2;
}

#section0{
  background-color: #333333 !important;
  color:#f2f2f2;
}

.title{
  margin-left: 10%;
  font-size: 3rem;
}

.b-title{
  font-size: 7rem;
}

.title .line1{
  width: 7vw;
  border-radius: 5px;
  height: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color:#ff7151;
}

.title .line2{
  width: 7vw;
  border-radius: 5px;
  height: 5px;
  margin-left: 5vw;
  margin-bottom: 1.5vh;
  background-color:#ff7151;
}

#fp-nav ul{
  margin-left: 0.4vw;
}
#fp-nav ul li{
  margin-bottom: 1.5vh;
}

#fp-nav ul li a {
  border-radius: 15px;
  background-color: #333333;
  height: 3px;
  animation-name: decrease;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#fp-nav ul li a[class='active']{
  border-radius: 15px;
  background-color: #333333;
  height: 3px;
  animation-name: increase;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#fp-nav ul li a span{
  display:none;
}

@keyframes increase{
  from{
    width:1.5vw;
    background-color: #f2f2f2;
  }
  to{
    width:2.5vw;
    background-color: #fff455;
  }
}

@keyframes decrease {
  from{
    width:2.5vw;
    background-color: #fff455;
  }
  to{
    width:1.5vw;
    background-color: #f2f2f2;
  }
}
